body {
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
  background-color: #185f59;
}

button {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(12, 35, 46);
  color: rgb(255, 255, 255);
}

