body {
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
  background-color: #454b4b;
}

button {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(15, 18, 20);
  color: rgb(255, 255, 255);
}

